<%- include('./partials/header.ejs') %>

    <body>
        <h1>Teste</h1>
        <a href="/users/new">Formulário</a>
        <a href="/users/login">Login</a>
    </body>

    <%- include('./partials/footer.ejs') %>