<%- include('../partials/header.ejs') %>

    <body>
        <p>Nome: <%= user.name %>
                <p>Nome: <%= user.admin %>
                </p>
                <h1>Página inicial</h1>
                <a href="/logout">Sair</a>
                <p>Aqui é uma página do usuário comum</p>

    </body>

    <%- include ('../partials/footer') %>